.DS_Store
.env
.venv
*.py.lock
.idea/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

# docs
docs/_build

# data
bert-squeeze/data/classification
bert-squeeze/data/unlabeled

# various
.neptune/
outputs/
checkpoints/
